@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');



.footbar{
    padding: 4px;
    background-color: darkgray;
}

.footer-list{
    display: flex;
    align-items: center;
}

.footer-list li{
    list-style: none;
    align-items: center;
    padding: 20px;
}

.footer-list li a{
    text-decoration: none;
    color: black;
    font-family: 'Ubuntu', sans-serif;
}